<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="listen-url" value="http://127.0.0.1:40080/api/webyb/"/>
	</appSettings>
	<connectionStrings>
		<add name="HCContext" providerName="System.Data.SqlClient" connectionString="Server=.\SQLExpress;Database=hc;User ID=sa;Password=tech@123AA"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
